<p>credit-card works!</p>

<input type="text"
       [(ngModel)]="usersText"
       maxlength="10" />
<p><span id="numbers">{{usersText.length}}</span>/10</p>


<button (click)="changeInput()">Change text</button>
